
.formContainer {
  background-color: white;
  border-radius: 8px;
  min-width: 400px;
  width: 60%;
  max-width: 500px;
 
  padding: 40px;
  display: flex;
  flex-direction: column;
 
  margin: 50px;
  box-shadow: 0px 0px 10px 0px #000000;
  


  

  h3 {
    font-size: 20px;
    font-weight: normal;
    color: #2f2f2f;
  }

  h2 {
    font-size: 30px;
    font-weight: bolder;
    color: #6358dc;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .inputContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ececec;
      padding: 10px 15px;
      border-radius: 8px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 80%;

        label {
          font-size: 11px;
        }

        input {
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
        }
      }

      svg {
        width: 25px;
        height: 20px;
      }
    }

    button {
      margin-top: 10px;
      border: none;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      color: white;
      background-color: #6358dc;
      border-radius: 8px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #4235d6;
    }

    p {
      text-align: center;
      font-size: 12px;

      b {
        cursor: pointer;
        color: #6358dc;
      }

      b:hover {
        text-decoration: underline;
      }
    }

    .a {
      .a:hover {
        color: #511131;
      }
    }
 
  }
}

.toast {
  transition-duration: 0.3s;
  background-color: #447cff75;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  padding: 10px;
}

.toast_user{
  transition-duration: 0.5s;
  background-color: #0066ff75;
  color: white;
  border-radius: 8px;
  width: auto;
  text-align: center;
  position: absolute;
  bottom: 1;
  margin-bottom: 15px;
  padding: 10px;
}

.welcome {
  padding: 35px 75px;
  background-color: white;
  border-radius: 8px;
  text-align: center;

  h2 {
    font-weight: bold;
    color: #6358dc;
    font-size: 25px;
  }

  h3 {
    font-weight: normal;
    color: #2f2f2f;
  }

  .buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;

    button {
      background-color: #6c66b6;
      border: none;
      cursor: pointer;
      color: white;
      padding: 5px 20px;
      border-radius: 3px;
      transition-duration: 0.3s;
    }

    button:hover {
      background-color: #4235d6;
    }


  }


  .logout {
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    transition-duration: 0.3s;
  }
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 20px;
}


.container_general {//divdir en container para login y register y otro para
  margin-top: 50px;//50
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: #ffffff;//#88a5ff;
}
.container_generaal {//test
  margin-top: 50px;//50
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 // height: calc(100vh - 50px); // Ajusta la altura del contenedor según el tamaño de la pantalla
  background-color: #f4f4f4;
}



.top_nav_bar {
  margin-top: 10px;
  margin-block-end: 10px;
}


  .carousel_container {
    margin: 0 auto; /* Alinea el carousel al centro */
    gap: 20px; /* Establece una diferencia de 20px entre los componentes */
  }


.container{
  margin: 20px;
  display: flex;
  
}
.canvas_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 20px;
}


.container_curs__list {
  //margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;       /* ancho completo de la ventana */
  max-width: 100vw;   /* asegura que no tenga límite */
  padding: 0;         /* elimina padding que pueda limitar */
  margin-left: 0;     /* elimina margen lateral */
  margin-right: 0;    /* elimina margen lateral */

  background-color: #f4f4f4;
}

.container_curs__list_est {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;       /* ancho completo de la ventana */
  max-width: 100vw;   /* asegura que no tenga límite */
  padding: 0;         /* elimina padding que pueda limitar */
  margin-left: 0;     /* elimina margen lateral */
  margin-right: 0;    /* elimina margen lateral */

  background-color: #f4f4f4;
}